body, .carousel-item {
  font-family: 'Bebas Neue', cursive, sans-serif;
  overflow: hidden;
  scrollbar-width: none;
}

body {
  background-color: transparent;
}

.carousel {
  height: 100vh;
  width: 100vw;
  touch-action: pan-y; /* impede scroll horizontal */
  -ms-touch-action: pan-y;
  overscroll-behavior: contain; /* evita scroll em cascata */
  overflow: hidden;
}

.carousel-container {
  position: relative;
  top: 50%;
}

.carousel:active {
  cursor: grabbing;
}

.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(20rem, 20vw, 30rem);
  height: clamp(30rem, 35vw, 50rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transform-style: preserve-3d;
  transform-origin: center;
  opacity: 0;
  filter: blur(10px) brightness(0.7);
  transition: none;
  transform: translate(-50%, -50%) scale(0.1);
  user-select: none;
  flex-direction: column;
  color: white;
  font-size: 3em;
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
  border: 3px solid white;
  overflow: hidden;
}

.carousel-item img {
  position: absolute;
  user-select: none;
  -webkit-user-drag: none; /* impede drag no Safari */
}

.text-container {
    position: relative;
    bottom: 10%;
    right: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    user-select: none;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.item-number {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0.2em;
  position: static;
  user-select: none;
}

.text-container span {
  font-size: clamp(4rem, 5vw, 7rem);
}

.text-container p {
    letter-spacing: 0.3rem;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    font-size: clamp(2rem, 2vw, 3.5rem);
    transform-origin: center center;
    transition: transform 0.5s ease-in;
    white-space: nowrap;
    pointer-events: none;
}

/* Backgrounds e estilos específicos para os items */

#item-1 {
  background: linear-gradient(15deg, rgba(34, 97, 163, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
#item-1 img {
  width: clamp(1050px, 70vw, 1500px);
  margin: 125px 70px 0 0px;
}

#item-2 {
  background: linear-gradient(90deg, rgba(106, 24, 173, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
#item-2 img {
  transform: rotate(14deg);
  width: clamp(2400px, 150vw, 3500px);
  margin: 95% 30% 0 0;
}

#item-3 img {
  transform: rotate(-20deg);
  width: clamp(2200px, 140vw, 3350px);
  margin: 30% 0 -20% 60%;
}

#item-4 {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(176, 0, 0, 1) 80%);
}
#item-4 img {
  width: clamp(900px, 60vw, 1600px);
  transform: rotate(69deg);
  margin: 60% 0 -5% 10%;
}

#item-5 {
  background: linear-gradient(0deg, rgba(174, 2, 247, 1) 40%, rgba(87, 249, 255, 1) 70%);
}
#item-5 img {
  width: clamp(1600px, 100vw, 2300px);
  margin: 85% 160% 0 0;
}

#item-6 {
  background: linear-gradient(75deg, rgba(168, 27, 8, 1) 30%, rgba(255, 0, 0, 1) 70%);
}
#item-6 img {
  width: clamp(950px, 65vw, 1500px);
  margin: 85% 20% 0 0;
}

#item-7 {
  background: linear-gradient(15deg, rgba(0, 111, 255, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
#item-7 img {
  width: clamp(2500px, 170vw, 4000px);
  transform: rotate(-6deg);
  margin: 160% 0 0 0;
}


#item-8 {
  background: #EEAECA;
  background: linear-gradient(180deg, rgba(238, 174, 202, 1) 0%, rgba(235, 63, 120, 1) 100%);
}
#item-8 img {
  width: clamp(850px, 60vw, 1400px);
  margin: 100% 0 0 50%;
}

#item-9 {
  background: #8c00ff;
  background: linear-gradient(180deg, rgba(140, 0, 255, 1) 41%, rgba(0, 76, 255, 1) 100%);
}

#item-9 img {
  width: clamp(1450px, 100vw, 2300px);
  margin: 90% 0 0 160%;
  transform: rotate(-5deg)
}

#item-10 {
  background: #DEC29B;
  background: linear-gradient(180deg, rgba(222, 194, 155, 1) 1%, rgba(191, 209, 211, 1) 64%);
}

#item-10 img {
  width: clamp(1400px, 95vw, 2200px);
  margin: 12% 0 0 30%;
}

#item-11 {
  background: #D9673F;
  background: linear-gradient(180deg, rgba(217, 103, 63, 1) 1%, rgba(237, 191, 158, 1) 64%);
}
#item-11 img {
  width: clamp(780px, 55vw, 1250px);
  margin: 125% 20% 0 0;
}

#item-12 {
  background: #090979;
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 35%, rgba(255, 0, 0, 1) 100%);
}
#item-12 img {
  width: clamp(1150px, 80vw, 1850px);
  margin: 180% 0 0 0;
}